body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0077C2;
}

.navbar {
  background-color: #0066A5;
  border: none;
  color: #7DB3D2;
}

.logo {
  font-family: 'Pacifico', serif;
  text-align: center;
  color: #7DB3D2;
  line-height: 2em;
  font-size: 2em;
}

.header {
  margin-top: 80px;
}

.card {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #eee;
  padding: 7px;
  float: left;
  width: 300px;
  margin: 10px;
}

.card-items {
  list-style: none;
  padding-left: 0;
  
}

.card-heading {
  padding: 0 1px 7px 7px;
}

.card-title {
  font-weight: bold;
}

.card-menu {
  text-align: center;
  float: right;
  color: gray;
  padding: 3px 5px 3px 5px;
  line-height: 1em;
  width: 25px;
}

.card-menu:hover {
  background-color: lightgray;
  border-radius: 3px;
  cursor: pointer;
}

.card-body {

}

.card-items li {

  border-bottom: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
  margin: 7px auto;
  padding: 10px;
}

.card-items li:first-child {
  margin-top: 0;
}

.card-items li:last-child {
  margin-bottom: 0;
}

.card-form {
}

.card-input {
  background-color: #eee;
  color: gray;
  border: none;
}

.card-input:focus {
  outline: none;
}